/* boogaloo-regular - latin */
@font-face {
    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    src: url('../img/7_statusbars/3_icons/Boogaloo/Boogaloo-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Boogaloo';
    background: url("../img/new_items/desert-5112222.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-shadow: 3px 3px 6px black;
}

h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px 6px black;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
}

.start {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.start-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 76vw;
    max-height: 90vh;
}

.start-img img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

#play-btn {
    position: absolute;
    height: 20%;
    width: 10%;
    border-radius: none;
    box-shadow: none;
    opacity: 80%;
}

#play-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.explain {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.holder {
    display: flex;
    align-items: center;
    margin: 1rem 0.6rem;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

.explain img {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.game-over {
    width: 100%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.level {
    margin: 1rem;
}

.points {
    width: 50%;
    margin: 3rem;
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings, .music, .best-player  {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
    max-width: 76vw;
    max-height: 90vh;
}

canvas {
    position: relative;
    display: none;
    background-color: black;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
    max-width: 76vw;
    max-height: 90vh;
}



.box {
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

ul {
    margin: 0;
}

.li-right {
    background-image: url('../img/mobile_control/arrow-right.png');
}

.li-left {
    background-image: url('../img/mobile_control/arrow-left.png');
}

.li-jump {
    background-image: url('../img/mobile_control/space.png');
}

.li-throw {
    background-image: url('../img/mobile_control/d.png');
}

li.a {
    background-image: url('../img/new_items/bottle_list.png');
}

li {
    margin: 0;
    list-style: none;
    padding: 20px 0 20px 60px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

li.a:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(2deg);
}

.mobile-fullscreen {
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

.mobile-control {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.mobile-right {
    display: flex;
    justify-content: end;
}

.mobile-control img {
    padding: 0.5rem;
    width: 25%;
}

.mobile-canvas {
    position: relative;
    display: flex;
    background-color: black;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
    max-width: 100vw;
    max-height: 100vh;
}

.fullscreen {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
}

.fullscreen img {
    width: 8%;
    opacity: 80%;
}