/* boogaloo-regular - latin */
@font-face {
    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    src: url('../img/7_statusbars/3_icons/Boogaloo/Boogaloo-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Boogaloo';
    background-image: url("../img/new_items/desert-5112222.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-shadow: 3px 3px 6px black;
}

h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px 6px black;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.start {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.start-img {
    display: none;
}

.start img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

.info {
    min-width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    display: flex;
    background-color: gray;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
    max-width: 100vw;
    max-height: 100vh;
}

.mobile-control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.mobile-control img {
    height: 10vh;
    width: 10vh;
    margin: 1rem;
    border-radius: none;
    box-shadow: none;
}

.box {
    padding-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.304);
}

ul {
    margin: 0;
}

.li-right {
    background-image: url('../img/mobile_control/arrow-right.png');
}

.li-left {
    background-image: url('../img/mobile_control/arrow-left.png');
}

.li-jump {
    background-image: url('../img/mobile_control/space.png');
}

.li-throw {
    background-image: url('../img/mobile_control/d.png');
}

li.a {
    background-image: url('../img/new_items/bottle_list.png');
}

li {
    margin: 0;
    list-style: none;
    padding: 20px 0 20px 60px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

li.a:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(2deg);
}